.item {
  display: flex;
  align-items: center;
}

/* Section List Item */

.listItem {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  background-color: #c7d1ea;
  text-align: left;
  font-size: 14px;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.listItem:hover {
  background-color: #eef2f7;
}

.trashBtn {
  all: unset;
  cursor: pointer;
  font-size: 14px;
}

.trashIcon {
  height: 20px;
}

.dragHandle {
  cursor: grab;
  transition: opacity 0.15s ease;

  width: 6px;
  height: 20px;

  background-image: radial-gradient(
    circle,
    var(--accent) 1.2px,
    transparent 1.2px
  );
  background-size: 3px 4px;
  background-repeat: repeat;
  opacity: 0.3;

  flex-shrink: 0;
}

.dragHandle:active {
  cursor: grabbing;
}
